body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 10px;
    text-align: center;
    background-color: #242424;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #242424;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  .footer-version-3 .nav-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242424;
    padding: 30px 57px 26px;
  }

.content {
	display: block;
	padding: 0px;
	margin: 0px auto;
	text-align: center;
    width:900px;
}
.content img {
    height:90px;
    width: 160px;
}
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  